@import "tailwindcss";

@theme inline {
  --color-ibe-azul: #071930;
  --color-ibe-blanco: #FFFFFF;
  --color-ibe-amarillo: #FDCF21;
  --color-ibe-gris: #9A9A9A;
  --color-ibe-celeste: #097CC8;
}

body {
  background: #FFFFFF;
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
}